
<html>

<head>
    <title>Cleantech Solar</title>
</head>


<style>
    table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 5px solid #dddddd;
  text-align: left;
  padding: 15px;
}

body {
    font-family: 'Times New Roman', Times;
    color: black;
    background-color: #DCDCDC;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius:50px;
  margin-left: 10%
}

.button1{
  
  background-color: red;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius:50px;
  margin-right: 10%
}
.button2:hover {
  background-color: green;
}
.button1:hover {
  background-color: darkred;
}
box {
  background-color: green;
  width: 300px;
  border: 5px solid black;
  padding: 50px; 
}
box2 {
  background-color: red;
  width: 300px;
  border: 5px solid black;
  padding: 50px; 
}
.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}
</style>
<script>
    function myFunction() {
      var x = document.getElementById("id1").value;
      document.getElementById("inp1").name= x;
      document.getElementById("inp2").name= x+"-Flag";
      document.getElementById("inp3").value=x;
    }
    </script>
<h1>Cleantech Solar {{stationname}} O&M Page</h1>
<form action="/replacedata" method="post" id="frm1">
    Date:<br>
    <input type="date" name="Date"><br><br>
    Select Parameter:<br>

    <select id="id1" onchange="myFunction()">
        <option value="GHI">GHI</option>
        {% for i in val %}
        <option value={{ i }}>{{ i }}</option>
        {% endfor %}
    </select><br><br>
    Value:<br>
    <input type="text" id="inp1" name="GHI"><br><br>
    Flag:<br>
    <input type="text" id="inp2" name="GHI-Flag"><br><br>
    Master-Flag:<br>
    <input type="text" name="Master-Flag"><br><br>
    Secret Key:<br>
    <input type="password" name="SecretKey"><br><br>
    <input type="submit"><br>
    <input type='hidden' id='inp3' name='Type' value='GHI'>
    <input type='hidden' id='inp4' name='Station' value={{stationname}}>
</form>